<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span> <%= @review.title %></div>
            <div class="panel-body body">
                <%= @review.body %>
            </div>
        </div>
    </div>
</div>

<a class="btn btn-default pull-right" href="/">戻る</a>
